body{
    margin:10px 10px ;
    position: absolute;
  border: 3px solid #73AD21;
    width: 1200px;
}
#navdiv {
    /*border: 3px solid #000000;*/
}
/*circle{
    fill:#528b8b;
}
line{
    stroke:grey;
}
path{
    fill:none;
    stroke:#528b8b;
}*/
.tooltip {
    position: absolute;
    /*z-index: 4;*/
    display: block;
    margin: 5px;
    font-size: 12pt;
    word-wrap: break-word;
    opacity: 0;
    color:white;
    background-color: black;
    border:solid;
    border-width:2px;
    border-radius:5px;
    border-color: black;
    padding:5px;
}

